.container
{
	text-align:center;
}

li a
{
	text-align:center;
}


#menu, #menu ul
{
	margin:0;
	padding:0;
	position:relative;
	line-height: 1.5em;
}

#menu a
{
	color:#FFF;
	background-color:#333;
	border:1px solid #444;
	display:block;
	text-decoration: none;
	text-align:center;
	width: 448px;
}

#menu a:hover
{
	color:#000;
	background-color: #FFF;
}

#menu li
{
	position:relative;
	float:left;
	list-style: none;
}

#menu ul
{
	position:absolute;
	width: 150px;
	top:25px;
	display:none;
}

#menu li ul a
{
	width: 450px;
	float:left;
}

#menu ul ul
{
	top:auto;
}

#menu li ul ul
{
	left:150px;
}